



          <!-- Sign Up-->
          <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
              <%if(typeof errorMessage != "undefined"){%>
              <div class="errorMessage"><%=errorMessage%></div>
              <%}%>
            </div>
          </div>
          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <form name="signUpForm" action="/auth/signup" method="post">
                First Name: <input name="firstname" id="firstname"/>
                Last Name: <input name="lastname" id="lastname"/><br/>
                Email: <input name="username" id="username"/><br/>
                Password: <input name="password" id="password"/><br/>
                <input type="submit" value="Sign up" />
              </form>
            </div>
          </div>
          <hr>

